{% extends 'User/base.html' %}

    {% block content %}
        {% for i in question %}
   
            <div class="container mt-sm-5 my-1">
            <div class="question ml-sm-5 pl-sm-5 pt-2">
                <div class="py-2 h5"><b>Q. {{ i.content }} </b></div>
                    {% for j in answer %}
                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"></div>
                        <span class="checkmark"></span>
                        <input type="radio" name="radio">
                        <label class="options">{{ j.content }}
                        </label>
                    {% endfor %}
                </div>
                </div>
            </div>
            
        {% endfor %}
    {% endblock content %}